
.logo img { 
  height: 75px;
}
@media screen and (min-width: 1200px) {
  .header-8 .main-nav {
    margin-right: 0;
  }
}
.header.header-8 .logo, .logo{
  margin-top: 7px;
  margin-bottom: 9px;
}
.header.header-8 .menu > li > a{
  padding-top: 0;
  padding-bottom: 0;
}
.menu li > a{
  padding-right: 3rem;
  font-weight: 700;
}